<% render partial: '/shared/errors', locals: {obj: @workout} %>

<h1>Edit Workout</h1>
<%= form_with(model: @workout, class: "edit_workout", local: true) do |f| %>
    <%= f.label :name%>
    <%= f.text_field :name%><br>
    <%= f.label :intensity %>
    <%= f.number_field :intensity%><br>
    <%= f.label :duration%>
    <%= f.number_field :duration%>
    <br>
    <%= f.submit %>
<% end %>