
<span class = "workout-attributes">
    <h1> <%= @workout.name %> </h1>
    <h3>Category: <%= @workout.category.name %> </h3>
    <p>Duration: <%= @workout.duration %> Minutes </p>
    <p>Intensity: <%= @workout.intensity %> </p>
</span>

<%= link_to "Browse Category", category_path(@workout.category) %>

<span class = "comments-section">
    <ul>
    <%= @workout.comments.each do |comment| %>
        <li><%= comment.user %> - <%= comment.content %></li>
    <% end %>
</span>

    <br><br>


<h3>What did you think of this workout?</h3>
    
    
    <%= form_for [@workout, @comment] do |f| %>
        <%= f.hidden_field :workout_id %>
        <%= f.hidden_field :user_id %>
        <%= f.label :rating %>
        <%= f.number_field :rating %><br>
        <%= f.label :content %>
        <%= f.text_field :content %>
        <br>
        <%= f.submit "Leave Comment"%>
    <% end %>
    
    
    <br>


<% if @workout.user == current_user%>
    <%= link_to "Edit Workout", edit_workout_path(@workout)%>
    <%= link_to "Delete Workout", workout_path(@workout), method: 'delete'%>
<% end %>