<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div id="error">
        <h2>
            <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
        </h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <div class = "user-form">
        <%= f.label :username %>
        <%= f.text_field :username %><br>

        <%= f.label :email %>
        <%= f.text_field :email %><br>

        <%= f.label :password %>
        <%= f.password_field :password %><br>

        <%= f.label :height, "Height (inches)" %>
        <%= f.number_field :height %><br>

        <%= f.label :weight, "Weight (lbs)" %>
        <%= f.number_field :weight %><br>
    </div>

    <div class = "submit-button">
        <%= f.submit "Create User"%>
    </div>
<% end %>