<h1 id="user-welcome">Welcome, <%= @user.username %>!</h1>

<h3>Your Info: </h3>
<div class="user-info">
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Height:</strong> <%= @user.height %> inches</p>
    <p><strong>Weight:</strong>  <%= @user.weight %> lbs</p>
    <br>
    <h3><strong><%= @user.username%>'s Workouts: </strong></h3>
    <ul>
    <% @user.workouts.each do |workout| %>
        <li><%= link_to workout.name, workout_path(workout) %></li>
    <% end %>
    </ul>
</div>

<div class="edit-button">
    <% if @user == current_user %>
        <h5><%= link_to "Edit Profile", edit_user_path(@user) %>
    <% end %>
</div>

<span class="workout-type-button">
    <h3><%= link_to "See All Comments", user_comments_path(@user) %></h3>
    <h3><%= link_to "Browse Workout Types", categories_path %></h3>
    <h3><%= link_to "Browse All Workouts", workouts_path %></h3>
</span>
