<!DOCTYPE html>
<html>
  <head>
    <title>Myworkoutfinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper" role="navigation">
      <nav>
        <div class="container">
          
          <% if !current_user %>
            <%= link_to "Home", root_path, class:"navbar-brand" %>
          <% end %>
          <% if current_user %>
            <%= link_to "Home", user_path(current_user) %>
            <%= link_to "All Users", users_path %>
            <%= link_to "Log Out", logout_path, class:"navbar-brand",method:'delete' %>
          <% end %>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
